{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      },
      "babel-module": {}
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "off",
    "eqeqeq": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "react/jsx-props-no-spreading": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-unknown-property": [
      0,
      {
        "ignore": [
          "clip-rule",
          "fill-rule",
          "stop-opacity",
          "stroke-width",
          "stroke-linejoin",
          "stroke-miterlimit"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": [
          "**/*test.js",
          "tests/setupTests.js"
        ],
        "optionalDependencies": true,
        "peerDependencies": false,
        "packageDir": "./"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".svg"
        ]
      }
    ]
  }
}